html {
	height: 100%
}

body {
	height: 100%;
   margin: 0;
   overflow-x: hidden;
}

header {
   background-color: teal;
   margin-bottom: 10px;
}

.mdl-textfield__label {
   color: white;
}

.mdl-textfield__input {
   border-bottom: 1px solid aqua;
   color: white;
}

#searchBox {
   text-align: center;
}