html {
	height: 100%
}

body {
	height: 100%;
   margin: 0;
   overflow-x: hidden;
}

header {
   background-color: teal;
   margin-bottom: 10px;
   text-align: center;
}

table {
   width: 100%
}

.mdl-textfield__label {
   color: white;
}

.mdl-textfield__input {
   border-bottom: 1px solid aqua;
   color: white;
}

.mdl-data-table {
  white-space: normal !important;
}

.manga-image {
  min-width: 96px;
  width: 96px;
}

#mudae-inputs {
   display: flex;
   justify-content: space-evenly;
}